exclude .gitignore
exclude .coverage
exclude .coveragerc
exclude .travis.yml
include VERSION
include RELEASE
include LICENSE
include README.md
include setup.cfg
include resources/etc/~#PROJECT#~/*.json
prune .cache
prune .git
prune build
prune dist
prune htmlcov
recursive-exclude *.egg-info *
recursive-include tests *
